.tech-tag {
    color: var(--primary-color);
}

.skills-charts {
  margin: auto;
}

#taglist li a {
    font-size: 2rem;
    font-family: 'Coolvetica';
}

#myCanvas {
width: 800px;
}

@media screen and (max-width: 960px){

    .mob-line{
        display: block;
    }

    #myCanvas{
        width: 350px;
    }
}