/* -----------Navbar----------- */


.nav-bar {
    background-color: #181818;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
  
    .logo {
        display: block;
        padding: .8rem 0;
  
        img {
            display: block;
            margin: .8rem auto;
            width: 3.2rem;
            height: auto;
  
            &.sub-logo {
                width: 4.3rem;
            }
        }
    }

    .nav-controls{
      display: none;
      z-index: 10;
      svg{
        font-size: 3rem;
      }
    }
  
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      a{
        font-size: 2.2rem;
        color: #4d4d4e;
        line-height: 5.1rem;
        height: 5.1rem;
        position: relative;
        text-decoration: none;
  
        i{
          transition: all .3s ease-in-out;
        }
  
        &:hover{
          color: var(--primary-color);
  
          svg {
            opacity: 0;
          }
  
          &:after {
              opacity: 1;
          }
        }
  
        &:after {
          content: '';
          font-size: .9rem;
          letter-spacing: .2rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: all .3s ease-out;
        }
  
        &:first-child {
          &:after {
              content: 'HOME';
          }
        }
      }
  
      a.about-link {
        &:after {
            content: 'ABOUT';
        }
      }
  
      a.contact-link {
          &:after {
              content: 'CONTACT';
          }
      }
  
      a.skills-link {
          &:after {
              content: 'SKILLS';
          }
      }
  
      a.portfolio-link {
          &:after {
              content: 'MY WORK';
              white-space: nowrap
          }
      }
  
      a.active {
          svg {
              color: var(--primary-color);
          }
      }
    }
  
    ul{
      list-style: none;
      padding-bottom: 2rem;
  
      li{
  
        a{
          color: #4d4d4e;
          padding: 0.7rem 0;
          display: block;
          line-height: 1.6rem;
          font-size: 1.5rem;
  
          &:hover svg {
            color: var(--primary-color);
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 960px) {
    .nav-bar {
      flex-direction: row;
      justify-content: flex-start;

      position: sticky;
      top: 0;
      left: 0;

      .nav-controls{
        display: initial;
        margin-right: 1.5rem;
      }
  
      .logo {
        margin-left: 1.5rem;
        margin-right: auto;

        .sub-logo {
          display: none;
        }
      }
      .desktop-nav{
        display: none;
      }
  
      .mobile-nav{
        position: absolute;
        top: 0;
        left: 0;
        background: #181818;
        height: 100vh;
        width: 100%;
        justify-content: space-evenly;
        padding: 8rem;
        
        a{
          font-size: 3rem;

          &:after {
            font-size: 1.2rem;
            letter-spacing: .2rem;
            transform: none;
            opacity: 1;
            top: 0;
            left: 60px;
          }

        }
      }
  
      ul{
        display: none;
      }
    }
  }